
.body {
  font-family:verdana, sans-serif;
    font-size: 18px;
    background-color: aliceblue;
    margin: 0px;
}


#top {
  color: white;
    text-align: center;
    padding: 5px;
    background-color: darkblue;
    font-variant: small-caps;
    font-size: 24px;
}

h3{
  color:#E51A2E;
}
h4{
  color:#E51A2E;
}
h5{
  color: darkblue;
  text-align: center;
}
h6{
   margin: 0px;
  padding: 20px;
  text-align: center;
  background-color: white;
  font-size: 22px;
  color:#FCC000;
  }
h7{
   font-size: 18px;
   color: #FCC000;
  }
#paq{
    padding: 20px;
    margin: 90px;
    color: darkorange;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
}
.paq1{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    background-image: url("../img/paq1.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: royalblue;

}
.paq2{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    background-image: url("../img/paq2.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: royalblue;
    margin: 30px;
}
.paq3{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    background-image: url("../img/paq3.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: royalblue;
}
.ski{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 100px;
    padding-right: 140px;
    padding-left: 160px;
    background-image: url("../img/ski.jpg");
    background-repeat: no-repeat;
    background-size: 270px;
    background-color: white;
    
}
.hela{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 100px;
    padding-right: 150px;
    padding-left: 150px;
    background-image: url("../img/corne.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-color: white;
    margin: 30px;
    
}

#menu {
  text-align: center;
    margin: 0px;
    padding-left: 400px;
  list-style: none;                          
  background-color:darkslategrey;
  overflow: hidden;
  color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#menu > li {
  float:left;
  padding: 20px;
}

#menu > li:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: cadetblue;
    font-weight: bold;
}

#submenu {
  list-style: none;                          
  margin: 0;
  padding: 0;
  background-color: blue;
  overflow: hidden;
  color: white;

}

#submenu > li {
  float: left;
  padding: 20px;
}

#submenu > li:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: green;
   font-weight: bold;
}
main {

  padding: 20px;
    margin-top: 20px;
	margin-left: 150px;
	margin-right: 150px;
}

#img{
    float: left;
    padding-right: 20px;
}
.cart{
    display: inline-block;
    background-color:midnightblue;
    padding: 20px
}

.description{
    color: azure;
}

.info{
    background-color: honeydew;
    padding: 10px;
    border-radius: 12px;
}
#separacion{
    background-color: royalblue;
    padding: 50;
    color: royalblue;
}
#pie{
  text-align: center;
  color: white;
}

.submit{
  color: white;
    border: none;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.submit:hover {
    background-color: white;
    color: blue;
    cursor:pointer;
    font-weight: bold;
}
.cancel{
  color: #FCC000;
    border: none;
    background-color: #E51A2E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cancel:hover {
    background-color: white;
    color: red;
    cursor:pointer;
    font-weight: bold;
}
.imagen{
  align-content: center;
  width:  300px ;
  height: 300px;
}

.imagen2{
  align-content: center;
  width:  200px ;
  height: 200px;
}
.imagen3{
  align-content: right;
  width:  200px ;
  height: 200px;
  float: right;
}

.element_hidden{
  display:none;
}
.validation_error{
  color: red;
  font-size: 10px;
  margin-left: 5px;
}
.resumen{
  font-size: 15px;
  color: #FCC000 ;
}
.comentario{
  width:  228px;
  height:  98px;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
.comentario_eje{
  font-size:20px;
  color: black;
}

.comment_name{
  font-size: 19px;
  color: #03BC9E ;
}
.names{
   font-size: 18px ;
   color: #FCC000;
  }
  
  .return{
      
      background-color: #E51A2E;
  }
#comments{
    background-color: midnightblue;
    padding: 50px;
    padding-top: 10px;
    color:white;
}
.comment{
  color:white;
}
#com{
  color:white;
}
#button_submit{
  color: white;
    border: none;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#button_submit:hover {
    background-color: white;
    color: blue;
    cursor:pointer;
    font-weight: bold;
}